
<header id="header">
	<h1>Questions</h1>
	<form id="question-form" ng-submit="addQuestion()">
		<div id="category-option">
		<label class="radio inline">
			<input type="radio" ng-model="category" value="Light">Light
		</label>
		<label class="radio inline">
			<input type="radio" ng-model="category" value="Thoughtful">Thoughtful
		</label>
		<label class="radio inline">
			<input type="radio" ng-model="category" value="Deep">Deep
		</label>
		</div>
		<input id="new-question" placeholder="Good question?" ng-model="newQuestion" autofocus>		
	</form>
</header>
<section id="main" ng-show="questions.length" ng-cloak>
	<ul id="question-list">
		<li ng-repeat="question in questions" ng-class="{editing: question == editedQuestion}">
			<div class="view">
				<input type="checkbox" class="toggle"></input>
				<label ng-dblclick="editQuestion(question)">{{question.question}}</label>
				<button class="destroy" ng-click="removeQuestion(question)"></button>
			</div>
			<form ng-submit="doneEditing(question)">
				<input class="edit" ng-model="question.question" question-blur="doneEditing(question)" todo-focus="question == editedQuestion">
			</form>
		</li>
	</ul>
</section>
<footer id="footer" ng-show="questions.length" ng-cloak>
	<ul id="filters">
		<li>
			<a ng-class="{selected: location.path() == '/'} " href="#/">All</a>
		</li>
		<li>
			<a ng-class="{selected: location.path() == '/pending'}" href="#/pending">Pending</a>
		</li>
		<li>
			<a ng-class="{selected: location.path() == '/approved'}" href="#/approved">Approved</a>
		</li>
	</ul>	
</footer>


