
<header id="header">
	<h1>Questions</h1>
	<form id="question-form" ng-submit="addQuestion()">
		<div id="category-option">
		<label class="radio inline">
			<input type="radio" ng-model="category" value="Light">Light
		</label>
		<label class="radio inline">
			<input type="radio" ng-model="category" value="Thoughtful">Thoughtful
		</label>
		<label class="radio inline">
			<input type="radio" ng-model="category" value="Deep">Deep
		</label>
		</div>
		<input id="new-question" placeholder="New question?" ng-model="newQuestion" autofocus>		
	</form>
</header>
<section id="main" ng-show="questions.length" ng-cloak>
	<input id="toggle-all" type="checkbox" ng-model="approved" ng-click="filterApproved()">
	<ul id="question-list">
		<li ng-repeat="question in questions | filter:statusFilter | orderBy:'-create_at'">
			<div class="view" ng-hide="isEditing">
				<input type="checkbox" class="toggle" ng-model="question.approved"></input>
				<label ng-dblclick="isEditing = true">{{question.question}}
					<span class="label">{{question.category}}</span>
				</label>
				<button class="destroy" ng-click="removeQuestion(question)"></button>
			</div>
			<form id="question-edit-form" ng-submit="doneEditing(question)" ng-show="isEditing">
				<input type="text" class="span4" ng-model="question.question">
				<select class="span2" ng-model="question.category">				
					<option>Light</option>
					<option>Thoughtful</option>
					<option>Deep</option>
				</select>
				<br>
				<input type="submit" value="Done" class="btn">
			</form>
		</li>
	</ul>
</section>
<footer id="footer" ng-show="questions.length" ng-cloak>
	<ul id="filters">
		<li><a href="/">Home</a></li>
	</ul>			
</footer>


