<div class="row">
	<div class="span12">
		<form class="form-inline">
			<select class="span2" ng-model="category">
				<option value="">All</option>
				<option>Light</option>
				<option>Thoughtful</option>
				<option>Deep</option>
			</select>
			<select class="span2" ng-model="sortOption">				
				<option value="-created_at">Recent</option>
				<option value="-popularity">Popular</option>
			</select>
			<button class="btn" ng-click="randomize()">Random Question</button>
		</form>		
		<div modal="randomMode" close="exitRandomMode()" options="modalOptions">
			<div class="modal-header">
				<h3>Random Question</h3>
			</div>
			<div class="modal-body">
				{{randomQuestion.question}}
			</div>
			<div class="modal-footer">
				<button class="btn cancel" ng-click="exitRandomMode()">Cancel</button>
				<button class="btn" ng-click="randomize()">Next</button>
			</div>
		</div>			
	</div>
</div>
<div class="row">
	<div class="span12">
	  <ul class="unstyled">
	  	<li class="hero-unit" ng-repeat="question in questions | orderBy:sortOption | filter:category">
	    	<p><a ng-click="like(question)">+{{question.popularity}}</a> {{question.question}}
	    	<span class="label label-info">{{question.category}}</span>
				</p>
	    </li>
	  </ul>
	</div>
</div>
