<header id="header">

	<div id="question-filter">
		<form class="form-inline">
			<select class="span2" ng-model="category">
				<option value="">All</option>
				<option>Light</option>
				<option>Thoughtful</option>
				<option>Deep</option>
			</select>
			<select class="span2" ng-model="sortOption">				
				<option value="-created_at">Recent</option>
				<option value="-popularity">Popular</option>
			</select>
			<button class="btn" ng-click="randomize()">Random</button>
			<button class="btn" ng-click="addingQuestion = true" ng-hide="addingQuestion">New</button>
			<button class="btn btn-info" ng-click="addingQuestion = false" ng-show="addingQuestion">Hide</button>
		</form>
	</div>
	<form id="question-form" ng-submit="addQuestion()" ng-show="addingQuestion">
		<div id="category-option">
		<label class="radio inline">
			<input type="radio" ng-model="categoryOption" value="Light">Light
		</label>
		<label class="radio inline">
			<input type="radio" ng-model="categoryOption" value="Thoughtful">Thoughtful
		</label>
		<label class="radio inline">
			<input type="radio" ng-model="categoryOption" value="Deep">Deep
		</label>
		</div>
		<input id="new-question" placeholder="Submit question for approval" ng-model="newQuestion" autofocus>		
	</form>
</header>
<section id="main" ng-show="questions.length" ng-cloak>
	<input id="toggle-all" type="checkbox" ng-model="favorite" ng-click="filterLike()">
	<ul id="question-list">
		<li ng-repeat="question in questions | orderBy:sortOption | filter:approved | filter:category | filter:myFavorite">
			<div class="view">
				<input type="checkbox" class="toggle" ng-click="like(question)"></input>
				<label>{{question.question}} <br>
					<span class="label">{{question.category}}</span>
					<span class="badge badge-info">+{{question.popularity}}</span>					
				</label>
			</div>
		</li>
	</ul>
</section>
<footer id="footer" ng-show="questions.length" ng-cloak>
						
</footer>


<div class="row">
	<div class="span12">	
		<div modal="randomMode" close="exitRandomMode()" options="modalOptions">
			<div class="modal-header">
				<h3>Random Question</h3>
			</div>
			<div class="modal-body">
				{{randomQuestion.question}}
			</div>
			<div class="modal-footer">
				<button class="btn cancel" ng-click="exitRandomMode()">Cancel</button>
				<button class="btn" ng-click="randomize()">Next</button>
			</div>
		</div>			
	</div>
</div>
